/* General */
body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  min-height:100vh;
  margin: 1px;
  padding: 20px;
  box-sizing:border-box;
  background-color: #EFEFEF;
  background-image: url("img/background.png");
  background-size: cover;
  color: #707070;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 16px;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
}

.all{
  width: 100%;
  margin: 1em;
}

h1 {
  margin: 1%;
}

.CodePen{
  margin: 2% 3% 3%;
}

/* Author */
p {
  font-weight: 700;
}

p span {
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
}

p span::before,
p span::after {
  display: none;
  position: absolute;
  top: 0;
  left: -1px;
  transform-origin: left top;
  transition: all ease-out .2s;
  content: attr(data-text);
}

p span::before {
  z-index: 1;
  color: rgba(0,0,0,0.10);
  transform: scale(1.1,1.1) skew(3deg,7deg);
}

p span::after {
  z-index: 1;
  color: #707070;
  text-shadow: -1px 0 1px #fff;
                1px 0 1px #fff;
  transform: rotateY(-20deg);
}

p span:hover::before { transform: scale(1.1,1) skew(0deg,5deg); }

p span:hover::after { transform: rotateY(-10deg); }

@media (min-width: 5em) {
  p { font-size: 2em; }

  p span::before,
  p span::after {
    display: block;
  }
}

@media (min-width: 20em) {
  p { font-size: 2.5em; }
}

/* Profile */
.profile {
  position: relative;
  width: 100%;
  margin: 1.5em auto;
  padding: 3% 4% 1%;
  background-color: #f4eede;
  box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
}

ul{
  list-style-type:none;
  padding: 0em 0em 0em 1em;
}

.desc{
  padding: 1% 0%;
}

.row {
  color: #E27D60;
  font-weight:700;
  font-size: 14pt;
}
a:link {
  color: #707070;
}

a:visited {
  color: #707070;
}

a:hover {
  color: #707070;
}

a:active {
  color: #707070;
}

/* Header */
header .avatar {
  position: relative;
  height: 100px;
}

header .avatar img {
  position: absolute;
  width: 100px;
  margin: 0 auto;
  left: 0;
  right: 0;
}

header .avatarMask {
  clip-path: circle(48px at center);
  -webkit-clip-path: circle(48px at center);
}

/* Footer */
footer {
  font-size: 12px;
  box-sizing:border-box;
}

/* Top page */
#profileContainer {
  min-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile {
  max-width: 300px;
  /* min-width: 300px; */
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  max-width: 300px;
  margin: 10px auto;
  padding: 0;
  list-style: none;
}

nav li {
  flex: 1;
  padding: 1pt;
  font-size: 14pt;
}

/* Contents List */
#searchBox {
  position: relative;
  max-width: 300px;
  height: 30px;
  margin: 20px auto;
}

#searchBox #searchBoxInput {
  position: absolute;
  width: 100%;
  padding: 0 35px 0 15px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  outline: 0;
  font-size: 15px;
  color: #707070;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  box-sizing: border-box;
}


#searchBox #searchBoxInput::placeholder {
  color: #c9c9c9;
}

#searchBox #searchBoxIcon {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 5px;
  right: 10px;
}

#searchResults {
  display: none;
  position: absolute;
  max-width: 600px;
  /* min-width: 300px; */
  margin: 0 auto;
  top: 240px;
  left: 0;
  right: 0;
  padding: 5px;
  background-color:#f6f6f6;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  text-align: left;
  box-sizing: border-box;
}

#searchResults .searchResultPage {
  padding: 20px
}

#searchResults .searchResultTitle {
  font-weight: bold;
  margin: 5px 0;
}

#searchResults .searchResultBody {
  font-size: 14px;
}

#searchResults mark {
  background-color: #dddfdf;
}

#contentsList {
  padding: 20px 0;
}

#contentsList hr.separator {
  width: 10px;
  margin: 30px auto;
  border: solid 1px #c9c9c9;
}

/* Page */
#contentBody {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: left;
}
