<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <div class="all" id="profileContainer">
      <div class="profile" id="profile">
        <div class="avatar_header" id = "avatar_header">
        <header>
          <!-- avator -->
          <div class="avatar">
            <img class="avatarMask" src="/img/{{ .Site.Params.avatar }}" alt="avatar">
            <img src="/img/avatar-border.svg" alt="avatar-border">
          </div>
          <!-- author -->
          <p aria-label="CodePen" class="CodePen">
            <span data-text="m">m</span>
            <span data-text="o">o</span>
            <span data-text="c">c</span>
            <span data-text="o">o</span>
            <span data-text="b">b</span>
            <span data-text="t">t</span>
          </p>
        </header>
        <!-- navigation -->
        <nav>
          <ul>
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}" aria-label="{{ .Identifier }}">{{ .Pre }}<br>{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </nav>
        </div>
      <div class="background" id="background">
        <!-- description -->
        <p>
          <div class="row">Background</div>
            <ul align="left">
              {{ range .Site.Menus.background}}
                <li class="desc"><a>{{ .Pre }}: {{ .Name}}</a></li>
              {{ end }}
            </ul>
          <div class="row">Current research fields</div>
            <ul align="left">
              {{ range .Site.Menus.field}}
                <li class="desc"><a>{{ .Name }}</a></li>
              {{ end }}
            </ul>
          <div class="row">Interests</div>
            <ul align="left">
              {{ range .Site.Menus.interest}}
              <li class="desc">{{ .Name }}</li>
              {{ end }}
            </ul>
          <div class="row">Hobby</div>
            <ul align="left">
              {{ range .Site.Menus.hobby}}
              <li class="desc">{{ .Name }}</li>
              {{ end }}
            </ul>
        </p>
      </div>
      </div>
    </div>
    {{- partial "footer.html" . -}}
  </body>
</html>
